* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Verdana", sans-serif;
}

h2 {
    padding: 0.5em;
    border-radius: 1em;
    background-color: #aad4f0;
    margin: 0;
    font-size: 18px;
}


img {
    height: 100px;
    width: 100px;
}

section {
    padding: 1em;
    margin: 1em;
}

nav {
    margin: 1em;
    display: flex;
    min-height: 4em;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 13px;
}

nav a:hover,
nav a:focus {
    background-color: #0A2B55;
    color: white;
}

nav>a {
    font-size: 1.5em;
    background-color: #4F81BD;

}

nav ul {
    background-color: #4F81BD;
    list-style-type: none;
    display: flex;
    flex-grow: 1;

}

nav ul li {
    display: flex;
}

.menu li,
.menu ul a {
    flex-grow: 1;
}

main {
    font-size: 12px;
}


footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #aad4f0;
    text-align: center;
    padding: 30px;
    font-size: 10px;
}

form {
    margin: 2.5em;
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "form1 form2";
}

#form {
    grid-area: form1;
}

#form2 {
    grid-area: form2;
}

legend {
    margin: 0.5em;
}

label,
p {
    display: inline-block;
    width: 80px;
    margin: 0.5em;
}

fieldset {
    width: 10cm;
    height: 6.7cm;
}

#form2 fieldset {
    width: 15cm;
    height: 2.5cm;
}

#alta input {
    margin: 4.5em;
    width: 100px;
    height: 40px;
    font-size: 12px;
}